$mossGreen: #6c933e;
$ligthGreen: #d9e4cc;
$greyishBrown: #4a4a4a;
$brownishGrey: #626262;
$white: #ffffff;
$black: #000000;

$fontFamily: 'Roboto', sans-serif;
$fontWeightMedium: 500;
$fontWeightBold: 700;

$fontSizeButtons: 1.25rem;
$fontSizeImages2: 0.875rem;
$fontSizeImages2Responsive: 1.125rem;

$widhtImgSection2: 114px;
$heigthImgSection2: 124.1px;
$boxShadowImgSection2: 0px 10px 20px $brownishGrey;
