$mossGreen: #6c933e;
$ligthGreen: #d9e4cc;
<<<<<<< HEAD
$greyishBrown: #4a4a4a;
$brownishGrey: #626262;
=======
$greyish-brown: #4a4a4a;
>>>>>>> section1
$white: #ffffff;
$black: #000000;

$fontFamily: 'Roboto', sans-serif;
$fontWeightMedium: 500;
$fontWeightBold: 700;




<<<<<<< HEAD
=======



>>>>>>> section1
