.footer {
    background-color: $greyishBrown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 27.9px;

    @media all and (min-width:768px) {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }

    &__buttonup {
        @include displayFloatingButtons();
        width: 45px;
        height: 45px;
        position: relative;
        top: 0;
        animation: 2s linear 0s infinite alternate button-up;


        @keyframes button-up {
            from {
                position: relative;
                top: 0;
            }

            to {
                position: relative;
                transform: translateY(-60%);
            }
        }
      
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        max-width: 920px;

        @media all and (min-width:768px) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: first baseline;
            width: 100%;
            padding: 0 90px;
            padding-bottom: 15px;

        }

        &--links1 {
            line-height: $lineHeightFooter;
            text-align: center;

            @media all and (min-width:768px) {
                order: 2;
            }
        }

        &--links2 {
            line-height: $lineHeightFooter;
            text-align: center;

            @media all and (min-width:768px) {
                order: 3;
            }
        }

        &--copy {
            text-align: center;
            color: $white;
            padding-bottom: 33.5px;

            @media all and (min-width:768px) {
                order: 1;
            }
                p {
                    font-size: 0.875rem;
                    line-height: $lineHeightFooter;
                }
        }
    }
}

.links {
    a {
        color: $white;
        text-align: center;
        line-height: $lineHeightFooter;
    }
}