.footer {
    background-color: $greyishBrown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 27.9px;

    &__links1 {
        line-height: 1.88;
        text-align: center;
        margin-top: 60px;
    }

    &__links2 {
        line-height: 1.88;
        text-align: center;
    }

    &__copy {
        text-align: center;
        color: $white;
        padding-bottom: 33.5px;

        & p{
            font-size: 0.875rem;
            line-height: 1.88;
        }
    }
}


.links {
    a {
        color: $white;
        text-align: center;
        line-height: 1.88;
    }
}