.footer {
    background-color: $greyishBrown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 27.9px;

    &__buttonup {
        background-color: $white;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 0;
        transform: translateY(-60%);
    }

    &__links1 {
        line-height: 1.88;
        text-align: center;
    }

    &__links2 {
        line-height: 1.88;
        text-align: center;
    }

    &__copy {
        text-align: center;
        color: $white;
        padding-bottom: 33.5px;

        & p{
            font-size: 0.875rem;
            line-height: 1.88;
        }
    }
}


.links {
    a {
        color: $white;
        text-align: center;
        line-height: 1.88;
    }
}