.header {
    background-image: url('/images/cover.jpeg');
    background-size: cover;
    background-position: 80% 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;



    &__menu {
        background-color: $mossGreen;
        width: 36.4px;
        height: 36.8px;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        width: 75%;

        @media all and (min-width:1280px) {
            width: 50%;
        }

        & h1 {
            color: $white;
            font-size: 1.875rem;
            font-weight: $fontWeightBold;
            line-height: 50px;

            @media all and (min-width:768px) {
                font-size: 4.688rem;
                line-height: 100px;
            }
        }

        & h2 {
            color: $white;
            font-size: 1rem;
            line-height: 19px;

            @media all and (min-width:768px) {
                font-size: 1.5rem;
                line-height: 28px;
            }
        }
    }

    &__anchor {
        background-color: $white;
        width: 38.2px;
        height: 38.2px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 57.9px;
    }
}
