.section2 {
    background-color: $ligthGreen;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 10px;
    padding-top: 20px;
    justify-items: center;


    @media all and (min-width:768px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }

    &__text {
        font-family: $fontFamily;
        grid-column: 1/2;
        grid-row: 1/2; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media all and (min-width:768px) {
            grid-column: 1/4;
            grid-row: 1/2; 
        }

        & p {
           color: $brownishGrey;
           font-size: 0.75rem;
           font-weight: $fontWeightBold;
        }

        & h3 {
            color: $black;
            font-size: 1.25rem;
            font-weight: $fontWeightBold;

            @media all and (min-width:768px) {
                font-size: 1.75rem
            }
        }
    }

    &__images {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        grid-column: 1/4;
        grid-row: 2/3;
        width: 100%;
        max-width: 920px;
        padding: 0 15px;


        @media all and (min-width:768px) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

            &--img1 {
                @media all and (min-width:768px) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                & img {
                    width: $widhtImgSection2;
                    height: $heigthImgSection2;
                    border-radius: 50%;
                    grid-column: 1/2;
                    grid-row: 2/3;
                    box-shadow: $boxShadowImgSection2;

                    @media all and (min-width:768px) {
                        grid-column: 1/2;
                        grid-row: 2/3; 
                    }
                }
                & p {
                    font-size: $fontSizeImages2;
                    color: $black;
                    font-weight: $fontWeightBold;
                    text-align: center;
                    padding-top: 8px;

                    @media all and (min-width:768px) {
                        font-size: $fontSizeImages2Responsive;
                    }
                }
        }
            &--img2 {
                @media all and (min-width:768px) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                & img {
                width: $widhtImgSection2;
                height: $heigthImgSection2;
                border-radius: 50%;
                grid-column: 1/2;
                grid-row: 3/4;
                box-shadow: $boxShadowImgSection2;

                @media all and (min-width:768px) {
                    grid-column: 2/3;
                    grid-row: 2/3; 
                }
            }
            & p {
                font-size: $fontSizeImages2;
                color: $black;
                font-weight: $fontWeightBold;
                text-align: center;
                padding-top: 8px;

                @media all and (min-width:768px) {
                    font-size: $fontSizeImages2Responsive;
                }
            }
        }
            &--img3 {
                @media all and (min-width:768px) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                & img {
                width: $widhtImgSection2;
                height: $heigthImgSection2;
                border-radius: 50%;
                grid-column: 1/2;
                grid-row: 4/5;
                box-shadow: $boxShadowImgSection2;

                @media all and (min-width:768px) {
                    grid-column: 3/4;
                    grid-row: 2/3; 
                }
            }
            & p {
                font-size: $fontSizeImages2;
                color: $black;
                font-weight: $fontWeightBold;
                text-align: center;
                padding-top: 8px;

                @media all and (min-width:768px) {
                    font-size: $fontSizeImages2Responsive;
                }
            }
        }
    }
    &__button {
        grid-column: 1/2;
        grid-row: 5/6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;

        @media all and (min-width:768px) {
            grid-column: 1/4;
            grid-row: 3/4; 
        }

        & button {
            @include basicButton();
            background-color: $mossGreen;
            color: $white;
            width: 184px;
            height: 45px;

            &:hover {
                transform: $transformHoverButtons;
            }
        }
    }
}