.section2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

    &__text {
        font-family: $fontFamily;

        & p {
           color: $brownishGrey;
           font-size: 0.75rem;
           font-weight: $fontWeightBold;
        }

        & h3 {
            color: $black;
            font-size: 1.25rem;
            font-weight: $fontWeightBold;
        }
    }
}