<footer class="footer">
    <figure class="footer__buttonup">
        <a href="#hero"><img src="/images/ico-arrow.svg" alt="Icono de flecha en dirección superior"></a>
    </figure>
    <div class="footer__content">
    <div class="footer__content--links1">
        <ul class="links">
            <li><a href="https://adalab.es/" target="_blank">ZAPATILLAS</a></li>
            <li><a href="https://adalab.es/" target="_blank">ROPA</a></li>
            <li><a href="https://adalab.es/" target="_blank">NIÑO/A</a></li>
            <li><a href="https://adalab.es/" target="_blank">DESTACADOS</a></li>
            <li><a href="https://adalab.es/" target="_blank">TIPS</a></li>
        </ul>
    </div>
    <div class="footer__content--links2">
        <ul class="links">
            <li><a href="https://adalab.es/" target="_blank">TWITTER</a></li>
            <li><a href="https://adalab.es/" target="_blank">INSTAGRAM</a></li>
            <li><a href="https://adalab.es/" target="_blank">YOUTUBE</a></li>
        </ul>
    </div>
    <div class="footer__content--copy">
        <p>© 2023</p>
        <p>we 💚 run</p>
    </div>
</div>
</footer>
</footer>