<footer class="footer">
    <div class="footer__links1">
        <ul class="links">
            <li><a href="https://adalab.es/">ZAPATILLAS</a></li>
            <li><a href="https://adalab.es/">ROPA</a></li>
            <li><a href="https://adalab.es/">NIÑO/A</a></li>
            <li><a href="https://adalab.es/">DESTACADOS</a></li>
            <li><a href="https://adalab.es/">TIPS</a></li>
        </ul>
    </div>
    <div lass="footer__links2">
        <ul class="links">
            <li><a href="https://adalab.es/">TWITTER</a></li>
            <li><a href="https://adalab.es/">INSTAGRAM</a></li>
            <li><a href="https://adalab.es/">YOUTUBE</a></li>
        </ul>
    </div>
    <div lass="footer__copy">
        <p>© 2023</p>
        <p>we 💚 run</p>
    </div>
</footer>
</footer>