<div class="section2">
  <div class="section2__text">
    <p>¡Prepáralos con tus marcas favoritas!</p>
    <h3>VUELTA AL COLE</h3>
  </div>
  <div class="section2__images">
    <div class="section2__images--img1">
      <img
        src="/images/modelo_1.png"
        alt="Imagen de una niña mostrando su mochila Puma"
      />
      <p>Mochilas escolares</p>
    </div>
    <div class="section2__images--img2">
      <img
        src="/images/modelo_2.png"
        alt="Imagen de un niño mostrando su estuche"
      />
      <p>Estuches</p>
    </div>
    <div class="section2__images--img3">
      <img
        src="/images/modelo_3.png"
        alt="Imagen de una niña mostrando su mochila Nike"
      />
      <p>Bolsas de deporte</p>
    </div>
  </div>
  <div class="section2__buttons">
    <button>Empezar ahora</button>
    <figure>
      <a href=""><img src="" alt="" /></a>
    </figure>
  </div>
</div>
